<h1>Edificios</h1>

<table id="polygon_list">
	<tr>
		<th>Polígono</th>
		<th>Latitud</th>
		<th>Longitud</th>
		<th></th>
	</tr>
</table>

<div id="map_canvas" style="width:40%; height:70%"></div>

<div id="polygon_info" style="position:absolute; top:125px; left:550px;"></div>
