<h1>Edificios</h1>

<table id="polygon_list">
	<tr>
		<th>Nombre</th>
		<th>Descripción</th>
		<th></th>
		<th></th>
	</tr>
</table>

<div id="map_canvas" style="width:40%; height:70%"></div>

<div id="buildingForm" class="hidden">
	<%= render 'form' %>
</div>

<div id="polygon_info" style="position:absolute; top:125px; left:550px;"></div>
